.form{
  background-color: slategrey;
  height: 100vh;
  
  display: flex;
  justify-content: center;
  margin-left: 0px;
  padding: 20px;
  margin-bottom: -10px;
  
}

.box1{
  font-size: 25px;
  color:mediumspringgreen;
  display: flex;
  padding: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.box2{
  font-size: 25px;
  color: mediumspringgreen;
  display: flex;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  
}
.para{
  color: black;
  font-size: 28px;
  display: flex;
  
  
  
}